/*
NOM : FRANZ
Prénom : Axel

NOM : ARUST
Prénom : Laura

*/

* {
    color: #616457;
    background-repeat: no-repeat;
    font-family: sans-serif;

}

body {

    background: #c5c7b4;
    
}

body>h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shuffle {
    border: 0px;
    border-radius: 5px;
}

#shuffle:hover {
    background-color: #616457;
    color: #c5c7b4 ;
}

#puzzlearea {
    background: #616457;
    display: flex;
    position: relative;
    box-sizing: content-box;
    margin-top: 25px;
    height: 360px;
    width: 360px;
    border: solid black 1px;
}

.tuile {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    background-size: contain;
    border: solid grey 1px;
    width: 90px;
    height: 90px;
}

.tuile>p {
    color: rgb(82, 73, 73);
    font-size: 110%;
    text-shadow: 1px 0 0 #fff,
        -1px 0 0 #fff,
        0 1px 0 #fff,
        0 -1px 0 #fff,
        1px 1px #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 90%;
    font-style: italic;
}